@import "../../design-tokens/mixins";

.footer {
  padding: 30px 0;
  background-color: $bg_color;
}

.footer__nav-list {
  @include container();
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-link {
  font-weight: 600;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #48494D;
}